

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar-toggle {
    display: hidden;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 510px);
    margin-top: 75px;
    /* padding-top: 40px; */
    line-height: 15px;
    font-size: 14px;
    min-height: 100vh;
    transition: all 0.3s;
    /* position: absolute; */
    top: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #sidebar {
        /* margin-left: -250px; */
        display: none;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

body {
    background-color: #ECE9E7 ;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  a {
        cursor: pointer;
    }
    
.sticky {
    /* This requires a "top" distance. this "top" distance is for fixed top */
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    /* top: 15px; */
}
#schedule.sticky{
    top: 75px
}

.animateSlideDownFromTop {
    /* animation-fill-mode: forwards; */
    animation-duration: 0.6s;
    animation-name: slideDown;
    /* transition: all .5s ease-in-out; */
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	/* 50%{
		transform: translateY(8%);
	} */
	/* 65%{
		transform: translateY(-4%);
	} */
	/* 80%{
		transform: translateY(4%);
	} */
	/* 95%{
		transform: translateY(-2%);
	}			 */
	100% {
		transform: translateY(-1%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.tab-header{
    font-size: 0.9rem;
    font-weight: 400;
}

.multi-line-text {
    white-space: pre-line;
}

.font-weight-600 {
    font-weight: 600;
}

.default-cursor {
    cursor: default;
}

body.hideSidebar #sidebar {
    display : none;
}

body.hideSidebar #content {
    left: 0px !important;
    top: 0px !important;
    margin-top: 0px !important;
}

body.hideSidebar:not(.mck-box-open) #content {
    width: 100%;
}

body.hideSidebar.mck-box-open #content {
    width: calc(100% - 260px);
}

body.hideHeader #header {
    display : none;
}

body.hideBreadcrumbs .breadcrumbs {
    display : none;
}


