
/********** css for right sidebar Todo / UpComing ***********/

.right-sidebar-todo {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: 20%;
	overflow: hidden;
}

.right-sidebar-todo:hover {
	overflow-y: scroll;
}
/* width scrollbar */
.right-sidebar-todo::-webkit-scrollbar {
	width: 2px;
}

/* Handle scrollbar */
.right-sidebar-todo::-webkit-scrollbar-thumb {
	background: #bfbfbf;
}
